{% extends "layout.html" %}

{% set active_page = "diversity" %}

{% block content %}

 <h1 class="head"> Diversity</h1>



 <form action="/diversity">

   <select name="county">
 <option value="" disabled selected>select your option</option>

    {% for data in json %}
        <option id = "diversity" value="{{data.County}}" >{{ data.County }}</option>
    {% endfor %}

    </select>
   <br><br>
   <input type="submit">

</form>

 {% if countyname %}

 <h3>White not Hispanic: {{ whitenothispanic }}</h3>
 <h3>Biracial: (2 or more races): {{ biracial }}</h3>
 <h3>Asian: {{ asianalone }}</h3>
 <h3>Hawaiian or Pacific Islander: {{ pacificislander }}</h3>
 <h3>White: {{ white }}</h3>
 <h3>Hispanic: {{ hispanic }}</h3>
 {% endif %}

 </div>

{% endblock %}
