{% extends "layout.html" %}

{% set active_page = "housing" %}

{% block content %}

 <h1 class="head">Housing Information</h1>

 <form action="/housing">

   <select name="county">
<option value="" disabled selected>select your option</option>

{{housing}}



    </select>
   <br><br>
   <input type="submit">

   <!-- <h3>County: {{ countyname }}</h3>
   <h3>Median Income: {{ medianincome }}</h3>
   <h3>Home Ownership Rate: {{ ownershiprate }}</h3>
   <h3>Number of Households: {{ numhouseholds }}</h3> -->

 </form>
{% if countyname %}
 <h3>The median yearly income of {{ countyname }} residents is ${{ medianincome }}. The home ownership rate is {{ ownershiprate }}%, and there are {{ numhouseholds }} households in the county.</h3>
 {% endif %}

 </div>

 {% endblock %}
