{% extends "layout.html" %}

{% set active_page = "populations" %}

{% block content %}
 <h1 id="head">Population Size</h1>
 <form action="/populations">

   <select name="county">
<option value="" disabled selected>select your option</option>

    {% for data in json %}
        <option id = "county" value="{{data.County}}" >{{ data.County }}</option>
    {% endfor %}

    </select>
   <br><br>
   <input type="submit">
  <!--  <h3>County: {{ countyname }}</h3>
   <h3 >2010 population: {{ ten_population }}</h3>
   <h3 >2014 population: {{ fourteen_population }}</h3>
   <h3 >Percent change: {{ percent_population }}</h3> -->


 </form>
 {% if countyname %}
 <h3> {{ countyname }} has experienced a population change of {{ percent_population }} from 2010 to 2014. The population was {{ ten_population }} in 2010 and {{ fourteen_population }} in 2014.</h3>
 {% endif %}
  </body>
</html>

{% endblock %}
